
{% extends "template.html" %}

{% block title %}This is the new page{% endblock %}

{% block main %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class = 'alert alert-success'>
      {% for message in messages %}
        {{ message }}
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <div class="container" style="margin: 4em auto">
      <div class="row">

      <h1> Login successfully!</h1>
      <p>　This is the content place </p>
      </div>
    </div>

{% endblock %}

{% block script %}
<script>
  alert("Welcome back");
</script>
{% endblock %}s