{% extends "template.html" %}

{% block title %}home{% endblock %}

{% block main %}
<div class="jumbotron">
  <h1 class="display-4">help application</h1>
  <p class="lead">1111<strong>Jumbotron</strong> 22222</p>
  <hr class="my-4">
  <p>33333 <strong>Jumbotron</strong></p>
  <a class="btn-dirty-purple btn-lg" href="#" role="button">learn more</a>
</div>
<div class="container">
  <div class="row desc">
  <div class="col">
    <h2><i class="fas fa-kiwi-bird"></i>  babysit</h2>
    <p>It is easy to find the babysitter.</p>
    </div>
  <div class="col">
      <h2><i class="fas fa-smile-wink"></i>  find jobs</h2>
    <p>fin jobs</p>
    </div>
  <div class="col">
      <h2><i class="fas fa-leaf"></i>  recommend</h2>
    <p>recommend the service</p>
    </div>
  </div>
</div>

{% endblock %}
