{% extends "template.html" %}

{% block title %}home{% endblock %}

{% block main %}
<div class="jumbotron">
  <h1 class="display-4">Help&</h1>
  <p class="lead"><strong>Welcome to Help&! </strong> </p>
  <hr class="my-4">
  <p>This is an application where you can find <strong>perfect taskers </strong>at your fingertips.</p>
 
  {% if current_user.is_authenticated %}
  <a class="btn-dirty-purple btn-lg" href="/postjob" role="button">Post my needs</a>
  {% else %}
  <a class="btn-dirty-purple btn-lg" href="/login" role="button">Log in</a>
  {% endif %}

</div>


<div class="container">
	<!--<div class="row desc">-->
  <div class="row">
  <div class="col">
      <a href="/find_job_category/1">
      <h2 class="text-dark"><i class="fas fa-hand-holding-heart"></i> Life</h2>
    <p class="text-dark">Life related tasks, for example:</br>cleaning,assemble furniture, delivery etc.</p>
      </a>
    </div>
  <div class="col">
      <a href="/find_job_category/2">
      <h2 class="text-dark"><i class="fas fa-drafting-compass"></i>  Graphic&Design</h2>
      <p class="text-dark">Graphic design service, for example:</br>logo design, illustration, business card design etc.</p>
      </a>
  </div>
  </div>
  </br>
  <div class="row">
  <div class="col">
      <a href="/find_job_category/3">
      <h2 class="text-dark"><i class="fas fa-laptop"></i>  Digital Related</h2>
    <p class="text-dark">Digital related tasks, for example:</br>change battery, install computer software,install computer hardware, change light bulbs,etc.</p>
      </a>
  </div>
    <div class="col">
        <a href="/find_job_category/4">
	  <h2 class="text-dark"><i class="fas fa-language"></i>  Writing&translate</h2>
	  <p class="text-dark">Writing and translation, for example:</br>write application, essay,article and translation</p>
        </a>
    </div>
  </div>
</div>

{% endblock %}
