{% extends "template.html" %}

{% block title %} job list {% endblock %}

{% block main %}

  <div class="container">
    <div class="row">
    <div class="col">
      <h1><i class="fas fa-barcode"></i> Job list</h1>
    </div>
    </div>

  {% macro easy_row(data, tag) -%}
    {% for record in data %}
    <div class="row">
      {% for item in record %}
      <div class="col">
        <{{ tag }}>{{ item }}</{{ tag }}>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  {%- endmacro %}

  {% set col_names = (("job_id", "job_name", "job_description", "creator", "date"),) %}

  {{ easy_row(col_names, "h2") }}

  {{ easy_row(html_records, "p") }}

  </div>

{% endblock %}