{% extends "template.html" %}

{% block title %}search for the jobs{% endblock %}

{% block main %}

{% macro easy_text_form(col_name, note) -%}
  <div class="form-group row">
    <label for="{{ col_name }}" class="col-2 offset-1 col-form-label">{{ col_name }} =</label>
    <div class="col-3">
      <input type="text" class="form-control" id="{{ col_name }}" name="{{ col_name }}" placeholder="{{ col_name }}">
      <small class="form-text">{{ note }}</small>
    </div>
  </div>
{%- endmacro %}


<div class="container" style="margin: 4em auto">
<div class="row">
<div class="col">

  <h1>search for the jobs</h1>
  <h2>Postgres Select Query</h2>

<form method="post" action="/search">

  <div class="row"><div class="col-1">Search</div></div>
  <div class="row"><div class="col-2 offset-1">*</div></div>
  <div class="row"><div class="col-1">From</div></div>
  <div class="row"><div class="col-2 offset-1">jobs table</div></div>

  {{ easy_text_form("job_name", "Please input job name") }}

  {{ easy_text_form("date", "Please input the date of the job") }}

  <button type="submit" class="btn btn-dirty-purple">search</button>

</form>

</div>
</div>
</div>

{% endblock %}