<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Moblie device priority -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- insert bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

  <!-- insert the custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

  <!-- google font -->
  <style> body {font-family: 'Roboto', sans-serif;}</style>

  <!-- title change part -->
  <title>{% block title %}{% endblock %}</title>

</head>

<body>
  <!-- navigation bar -->
  <nav class="navbar navbar-expand navbar-dark bg-dirty-purple">
    <!-- changes here nov.10 3:31-->
  <a class="navbar-brand" href="/">Help&</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class = "nav-item">
	      <a class="nav-link" href="/">Home</a> 
      </li>

      {% if current_user.is_authenticated %}
          <li class="nav-item">
        <a class="nav-link" href="/postjob">Post</a>
       </li>

      <li class="nav-item">
	      <a class="nav-link" href="/find_job">Find a job</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/find_post">Check my post</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/check_future_task">Check my future tasks</a>
      </li>
      {% endif %}
    </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        {% if current_user.is_authenticated %}
        {% else %}
        <a class="nav-link" href="/register">Sign up</a>
        {% endif %}
    <li class="nav-item">
      {% if current_user.is_authenticated %}
      <a class="nav-link" href="/logout">Log out</a>
      {% else %}
      <a class="nav-link" href="/login">Log in</a>
    {% endif %}
    </li>
  </ul>
  </div>
  </nav>




  <main>
    {% block main %}{% endblock %}
  </main>

<footer class="bg-light">
  <div class="container-fluid">
    <div class="row">
    <div class="col">
  <ul class="list-group list-group-horizontal">
    <li class="list-group-item bg-light border-light">Bootstrap v4.3.1 <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license noopener">MIT</a>, docs <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.</li>
  </ul>
    </div>
    </div>
  </div>
</footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  {% block script %}{% endblock %}
</body>
</html>
